@charset "UTF-8";

@font-face {
  font-family: "fastast-icon";
  src:url("fonts/fastast-icon.eot");
  src:url("fonts/fastast-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/fastast-icon.woff") format("woff"),
    url("fonts/fastast-icon.ttf") format("truetype"),
    url("fonts/fastast-icon.svg#fastast-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}
[class^="icon-"],[class*=" icon-"], [data-icon],
[class^="icon-"]:before,[class*=" icon-"]:before, [data-icon]:before
{
  display:inline-block;
  font:normal normal normal 16px/1 "fastast-icon";
  font-size:inherit;
  text-rendering:auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.icon-icon-fastast-01:before {
  content: "\61";
}
.icon-icon-fastast-02:before {
  content: "\62";
}
.icon-icon-fastast-03:before {
  content: "\63";
}
.icon-icon-fastast-04:before {
  content: "\64";
}
.icon-icon-fastast-05:before {
  content: "\65";
}
.icon-icon-fastast-06:before {
  content: "\66";
}
.icon-icon-fastast-07:before {
  content: "\67";
}
.icon-icon-fastast-08:before {
  content: "\68";
}
.icon-icon-fastast-09:before {
  content: "\69";
}
.icon-icon-fastast-10:before {
  content: "\6a";
}
.icon-icon-fastast-11:before {
  content: "\6b";
}
.icon-icon-fastast-12:before {
  content: "\6c";
}
.icon-icon-fastast-13:before {
  content: "\6d";
}
.icon-icon-fastast-14:before {
  content: "\6e";
}
.icon-icon-fastast-15:before {
  content: "\6f";
}
.icon-icon-fastast-16:before {
  content: "\70";
}
.icon-icon-fastast-17:before {
  content: "\71";
}
.icon-icon-fastast-18:before {
  content: "\72";
}
.icon-icon-fastast-19:before {
  content: "\73";
}
.icon-icon-fastast-20:before {
  content: "\74";
}
.icon-icon-fastast-21:before {
  content: "\75";
}
.icon-icon-fastast-22:before {
  content: "\76";
}
.icon-icon-fastast-23:before {
  content: "\77";
}
.icon-icon-fastast-24:before {
  content: "\78";
}
.icon-icon-fastast-25:before {
  content: "\79";
}
