body{
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}
header{
    background: url(../img/banner.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 666px;
    position: relative;
}
.home-banner-search-box{
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
}
nav.navbar.navbar-fixed-top{
    transition: all 1s ease;
}
nav.navbar.navbar-fixed-top.sticky {
    margin-top: 0;
    background-color: #FFF;
    padding-bottom: 10px;
}
nav.navbar.navbar-fixed-top.sticky #home-nav-bar a, nav.navbar.navbar-fixed-top.sticky #home-nav-bar .btn, nav.navbar.navbar-fixed-top.sticky #home-nav-bar input{
    color: #666;
    border-color: #666;
}
#home-nav-bar .top-header-search-box {
    border-radius: 30px;
    background: transparent url("../img/search-icon.png") 98% 50% no-repeat;
    border: 1px solid #FFF;
    line-height: 30px;
    color: #FFF;
    outline: none;
    padding: 5px 15px;
    text-transform: uppercase;
}
.sticky #home-nav-bar .top-header-search-box {
    background: transparent url("../img/search-icon-gray.png") 98% 50% no-repeat;
}
.our-client-item-nav p strong{
    display: block;
}
#home-nav-bar .top-header-search-box:focus{
    outline: none;
}
#home-nav-bar .top-header-search-box::-webkit-input-placeholder {
    color: #FFF !important;
    opacity: 1;
}

#home-nav-bar .top-header-search-box:-moz-placeholder { /* Firefox 18- */
    color: #FFF !important;
    opacity: 1;
}

#home-nav-bar .top-header-search-box::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF !important;
    opacity: 1;
}

#home-nav-bar .top-header-search-box:-ms-input-placeholder {
    color: #FFF !important;
    opacity: 1;
}

nav.navbar.navbar-fixed-top.sticky #home-nav-bar .top-header-search-box:focus{
    outline: none;
}
nav.navbar.navbar-fixed-top.sticky #home-nav-bar .top-header-search-box::-webkit-input-placeholder {
    color: #000 !important;
    opacity: 0.9;
}

nav.navbar.navbar-fixed-top.sticky #home-nav-bar .top-header-search-box:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;
    opacity: 0.9;
}

nav.navbar.navbar-fixed-top.sticky #home-nav-bar .top-header-search-box::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF !important;
    opacity: 0.9;
}

nav.navbar.navbar-fixed-top.sticky #home-nav-bar .top-header-search-box:-ms-input-placeholder {
    color: #000 !important;
    opacity: 0.9;
}
#home-nav-bar .btn{
    background: transparent;
    line-height: 34px;
    padding: 0;
    width: 100%;
    text-shadow: 0 0 0 #fff;
}
#home-nav-bar li a{
    color: #FFF;
    margin-top: 15px;
}
#home-nav-bar li a:hover{
    background: none;
}
.search-tabs{
    margin: 0 auto;
    background: rgba(0,0,0, 0.6);
    padding: 25px;
}
.search-tabs .nav>li>a{
    border: none;
    color: #FFF;
}
.search-tabs .nav-tabs>li.active>a,
.search-tabs .nav-tabs>li.active>a:focus,
.search-tabs .nav-tabs>li.active>a:hover,
.search-tabs .nav>li>a:focus{
    background: transparent;
    border: none;
    color: #fdbf2e;
}

.search-tabs .nav>li>a:hover {
    background: transparent;
    border: none;
    color: #FFF;
}
#home-banner-search-box .nav-tabs{
    border: none;
    margin-bottom: 20px;
}
#home-banner-search-box input, #home-banner-search-box select, #home-banner-search-box button{
    box-shadow: none;
    height: 65px;
}
.tab-pane .form-inline{
    width: 100%;
    background: #FFF;
    display: inline-block;
}
.tab-pane .form-inline input, .tab-pane .form-inline select, .tab-pane .form-inline button{
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
}
.tab-pane .form-inline input:focus, .tab-pane .form-inline select:focus, .tab-pane .form-inline button:focus{
    outline: none;
    box-shadow: none;
}
.tab-pane .form-inline .form-group{
    position: relative;
}
.tab-pane .form-inline .form-group::before{
    content: ' ';
    position: absolute;
    left: 1px;
    top: 0;
    height: 100%;
    width: 1px;
    background: #cdcdcd;
    z-index: 999;
}
#home-banner-search-box .search-button{
    background: #20cb9a !important;
    color: #FFF;
    height: 65px;
    width: 100%;
    text-transform: uppercase;
}
.tab-pane .form-inline .form-group:last-child::before, .tab-pane .form-inline .form-group:first-child::before{
    width: 0;
    height: 0;
}
#how-does-work{
    background: #20cb9a;
    color: #FFF;
    padding-top: 70px;
    padding-bottom: 95px;
}
span.step-number {
    border: 1px solid #FFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #FFF;
    position: relative;
}
.step-item p{
    position: relative;
}
.step-item p::before{
    content: " ";
    width: 50%;
    position: absolute;
    left: -15px;
    top: 50%;
    height: 1px;
    background: #FFF;
}
.step-item p::after{
    content: " ";
    width: 50%;
    position: absolute;
    right: -15px;
    top: 50%;
    height: 1px;
    background: #FFF;
}
.step-item.step-first p::before{
    content: '';
    width: 0;
    height: 0;
}
.step-item.step-last p::after{
    content: '';
    width: 0;
    height: 0;
}
.box-items{
    margin-top: 30px;
}
.steps{
    margin-top: 30px;
}

section#they-talk-about-us {
    background: url(../img/they-talk-about-us-bg.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    position: relative;
    border-top: 4px solid #FFF;
}
h2.text-center.text-uppercase.they-talk-title {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: -10%;
    left: 0;
}
h2.text-center.text-uppercase.they-talk-title span {
    background: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
}
section#they-talk-about-us .row{
    margin-top: 90px;
    color: #FFF;
}
.they-talk-content {
    padding-top: 30px;
}
.they-about-customer{
    color: #20cb9a;
}
#they-talk-about-us img.img-circle{
    border: 4px solid #20cb9a;
}

#clients{
    padding: 80px 0;
    background: #f5f5f5;
}
#clients h2{
    margin-bottom: 45px;
}
#clients .our-client-items-nav{
    margin-top: 40px;
}
.slick-slider{
    overflow: hidden;
}
.slick-slide img{
    margin: auto;
}
.our-client-item-nav > p{
    display: none;
}
.our-client-item-nav.slick-current > p{
    display: block;
}
.our-client-item-nav.slick-current img{
    border: 2px solid #20cb9a;
}
.text-center img{
    margin: auto;
}
:focus{
    outline: none;
}

#partner{
    padding: 80px 0;
}
#partner .partner-image{
    margin-bottom: 40px;
}
#partner h2{
    margin-bottom: 40px;
}

footer{
    background: url(../img/footer-bg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120px;
    position: relative;
    color: #FFF;
}
footer a{
    color: #FFF;
}
footer .container-fluid{
    padding-top: 30px;
}
footer .container-fluid select.form-control{
    background: transparent;
    border: none;
    color: #FFF;
}
footer .container-fluid select:focus{
    outline: none !important;
    box-shadow: none;
}
footer .container-fluid select option{
    background: none;
    color: #FFF;
}
#home-banner-search-box .search-tabs .nav-tabs > li > a{
    font-size: 16px;
}
.home button.btn.dropdown-toggle.btn-default{
    border: none;
    padding-right: 35px;
}