.send-package-contact .form-horizontal .form-group{
    background: #FFF;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.send-package-contact .form-horizontal .form-group .form-control{
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.send-package-contact .form-horizontal .form-group .form-control:hover,
.send-package-contact .form-horizontal .form-group .form-control:active,
.send-package-contact .form-horizontal .form-group .form-control:focus{
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.send-package-contact .form-horizontal .control-label{
    text-align: left;
    font-weight: normal;
}
.require{
    color: red;
}
.package-images {
    border: 1px solid #FFF;
    padding: 5px;
    border-radius: 5px;
}
.package-requirement li.list-group-item {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 1px 0;
    clear: both;
}
.package-requirement li.list-group-item label {
    font-weight: normal;
}
.package-requirement li.list-group-item input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.package-requirement li.list-group-item input + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFF;
    cursor: pointer;
}
.package-requirement li.list-group-item input:checked + label {
    background: url('../img/package-require-checked.png') 100%/100% no-repeat;
}
.package-requirement .list-group {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.row.row2.package-detail {
    margin-top: 60px;
}
.service-detail{
    margin-bottom: 60px;
}
.way-1 p.from, .way-7 p.from{
    top: 155px;
}
.way-8 p.from {
    top: 142px;
}
.way-8 p.to {
    bottom: 45px;
}
.row.row2.package-detail {
    margin-top: 60px;
}
.color-orange{
    color: #ff5f3a;
}
.btn.print-btn {
    border-radius: 0;
    background: #cc0099;
    border: 1px solid #cc0099;
    padding: 15px 30px;
    font-size: 30px;
    text-transform: none;
    font-weight: bold;
}
.container-create.container-package{
    background: #FFF;
}
.package-requirement-item .col-xs-6 {
    margin-top: 20px;
}
p.text-uppercase.package-option-title {
    text-align: center;
    color: #FFF;
    font-size: 28px;
}
.package-option {
    background: #f2f2f2;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}
.package-option label {
    display: block;
    width: 60%;
    float: left;
}
.package-option-image {
    display: block;
    width: 20%;
    float: left;
    font-size: 30px;
}
input.packageOption {
    width: 1px;
    height: 1px;
    clear: both;
    visibility: hidden;
}
input.packageOption + label{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url("../img/check-gray.png") 100%/100%;
    cursor: pointer;
}
input.packageOption:checked + label{
    background: url("../img/check-blue.png") 100%/100%;
}
.col-md-6.col-sm-12 {
    border-left: 4px double #d0d071;
}
.col-md-3 .package-requirement-item{
    margin-top: 50px;
}
.col-md-3 .package-requirement-item .icon{
    line-height: 1;
}
.btn.btn-default.btn-remove-delivery-service, .btn.btn-default.add-more.btn-add-delivery-service {
    background: #FFF;
    box-shadow: none;
    padding: 5px 10px;
}
.btn.btn-default {
    background: none;
    box-shadow: none;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}
#departureDate, #arrivalDate, #departureDate + span, #arrivalDate + span{
    text-align: left;
    background: transparent !important;
}
#datetimepicker1 .input-group-addon:last-child, #datetimepicker2 .input-group-addon:last-child, #datetimepicker1 .input-group-addon, #datetimepicker2 .input-group-addon{
    background: transparent;
}
.package-requirement-item .title{
    color: #000;
}
.slider-nav {
    margin: 20px 0;
}
.contact-alert {
    background: yellow;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
}
#map{
    margin-bottom: 20px;
}
.packer.container {
    margin-top: -174px;
}
.package-avatar{
    width: 100%;
    height: auto;
}
.package-banner-info {
    margin-top: 111px;
}
.package-banner-info h2 {
    font-weight: bold;
}
.package-banner-info p {
    font-weight: bold;
}
.package-image-item{
    width: 19.5%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 100%;
    text-align: center;
}
.package-image-item img{
    max-width: 100%;
    max-height: 100%;
    display: inline;
    line-height: 100%;
}
.remove {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    padding: 6px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
.slider-for{
    max-height: 600px;
    line-height: 600px;
    overflow: hidden;
    text-align: center;
}
.slider-for img{
    margin: auto;
}
.container-create select {
    display: block;
    background-image: url(../img/arrow-down-new.png);
    background-repeat: no-repeat;
    background-position: right 13px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}