#main-content{
    min-height: 600px;
}
.btns{
    margin: 40px 0;
}
.btns .btn.btn-cancel{
    border-radius: 0;
    box-shadow: none;
    background: #a6a6a6;
    color: #FFF;
    padding: 10px 40px;
}
.btns .btn.btn-save{
    border-radius: 0;
    box-shadow: none;
    background: #00cc99;
    color: #FFF;
    padding: 10px 40px;
}