.btn.btn-send-package{
    background: #1cd2a4;
    padding: 10px 30px;
    color: #FFF;
    font-weight: bold;
    border-radius: 0;
}
h3.shipping-show-title {
    color: #f88500;
}
.service-detail{
    margin-bottom: 60px;
}
.way-1 p.from, .way-7 p.from{
    top: 113px;
}
.way-8 p.from {
    top: 142px;
}
.way-8 p.to {
    bottom: 45px;
}
ul.nav.nav-tabs {
    border: none;
}
#search-shipping .nav-tabs>li >a{
    font-size: 16px;
    font-weight: bold;
    color: #CDCDCD;
}
#search-shipping .nav-tabs>li.active>a, #search-shipping .nav-tabs>li.active>a:hover, #search-shipping .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #00cc99;
    cursor: default;
}
#search-shipping .nav>li>a:hover, #search-shipping .nav>li>a:focus{
    background: none;
    border: none;
    border-bottom: 2px solid #00cc99;
}
.package-type img{
    width: 20%;
    float: left;
    margin-top: 1px;
}
.package-type p{
    text-align: center;
    width: 60%;
    float: left;
    margin-top: 7px;
    font-size: 11px;
}
.package-type label{
    float: right;
    width: 20%;
    text-align: right;
    margin-top: 4px;
}
.package-type label input{
    display: none;
}
.package-type label span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #CCC;
}
.package-type label input:checked + span{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../img/check-blue.png") 100%/100% no-repeat;
}
button.btn.btn-default.add-more.add-more-package-size, .btn.remove-btn.add-more.btn-default.remove-package-size {
    background: none;
    box-shadow: none;
    padding: 5px 10px;
}
.btn.btn-default {
    background: none;
    box-shadow: none;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}
.btn.find-shipper{
    font-weight: bold;
    padding: 10px 100px;
}
label.container-size.label-control{
    display: block;
    width: 100%;
}
label.container-size.label-control input{
    display: none;
}
label.container-size.label-control span {
    background: #FFF;
    width: 100%;
    display: block;
    padding: 5px 10px;
    color: #000;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
label.container-size.label-control input:checked + span {
    background: #ff603b;
    width: 100%;
    display: block;
    padding: 5px 10px;
    color: #FFF;
}
.form-group.att-icon{
    line-height: 37px;
    margin-bottom: 10px;
}
.maping {
    width: 100%;
    margin-bottom: 80px;
}
.form-group.all-package label{
    display: inline!important;
    width: 100px;
}
.input-group.date #datepicker{
    width: 140px!important;
}
.form-group.price .form-control{
    width: 170px!important;
}
.shipping-detail .row1 >.col-md-7{
    padding-left: 4em;
}
.shipping-detail .shipper{
    position: absolute;
    margin: 0;
    bottom: 2em;
}
.shipping-detail >.row{
    position: relative;
}
main.container{
    margin-top: 2em;
}
table{
    width: 100%;
}
table th:nth-child(1),
table td:nth-child(1){
    /*width: 50%;*/
    text-align: left;
}
table th:nth-child(2),
table td:nth-child(2){
    width: 50%;
    text-align: left;
}
tbody tr{
    border-top: 1px solid #3c3c3c;
    margin-top: 5px;
}
table tr{
    line-height: 40px;
}
.row4 >div {
    margin: 1em 0;
}
.row4 >div img{
    display: inline!important;
}
.row1 .road{
    padding-left: 3em;
}
.shipping-image .shipping-user-avatar{
    position: absolute;
    left: 0;
    bottom: 10px;
}
.shipping-image{
    position: relative;
}
.row .shipping-user-info{
    width: 100%;
}
.surcharge table tr{
    border: none!important;
}