.border-none {
  border: none !important;
}
#top-menu {
  min-height: 45px;
  padding-top: 18px;
  line-height: 45px;
  margin: 0;
  background-color: #FFF;
}
#top-menu .search-text-box {
  border: 1px solid #dddddd;
  border-radius: 30px;
  box-shadow: none;
  outline: none;
  height: 45px;
  line-height: 45px;
  background: url("../img/header-search-icon.png") no-repeat 96% 50%;
}
#top-menu .search-text-box:focus {
  border: 1px solid #9e9e9e;
  box-shadow: none;
  outline: none;
}
#top-menu .navbar-btn {
  border: 1px solid #000;
  border-radius: 3px;
  background: #FFF;
  color: #000;
  box-shadow: none;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  margin-right: 5px;
}
#top-menu form#header-search {
  margin-top: 10px;
}
#top-menu a {
  color: #646464;
}
#top-menu a:hover {
  background: none;
  color: #000;
}
#top-menu a#logo {
  margin-top: 10px;
  display: block;
}
#top-menu li.no-padding a,
#top-menu li.no-padding span {
  padding-top: 6px;
  padding-bottom: 0;
}
.full-container {
  background-color: #CCC;
}
.header-message {
  background: url("../img/message-count.png");
  display: inline-block;
  width: 32px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  color: #ff0000;
  font-weight: bold;
}
.navbar-fixed-top {
  padding-top: 20px;
}
.navbar-fixed-top .container .navbar-header {
  margin-top: -5px;
}
.navbar-fixed-top .container .btn {
  color: #FFF;
  border-color: #FFF;
  box-shadow: none;
  text-transform: uppercase;
}
.navbar-fixed-top .container .btn:hover {
  color: #20cb9a;
  border-color: #20cb9a;
}
.navbar-fixed-top.top-menu {
  position: relative;
  margin-bottom: 0;
  background-color: #FFF;
}
.navbar-fixed-top.top-menu .top-header-search-box {
  border-radius: 30px;
  background: transparent url("../img/search-icon-gray.png") 98% 50% no-repeat;
  border: 1px solid #666;
  line-height: 30px;
  color: #666;
  outline: none;
  padding: 5px 15px;
  text-transform: uppercase;
}
.navbar-fixed-top.top-menu a,
.navbar-fixed-top.top-menu .btn,
.navbar-fixed-top.top-menu input {
  color: #666;
  border-color: #666;
}
.navbar-fixed-top .account-message {
  text-align: center;
}
.navbar-fixed-top .account-name a {
  color: #FFF;
  text-decoration: none;
}
.navbar-fixed-top .account-name a.dropdown-toggle {
  padding: 0;
  text-align: center;
  color: #666;
  background-color: transparent;
  margin-top: 0 !important;
}
.navbar-fixed-top .account-name .dropdown-menu {
  left: initial;
  right: 0;
}
.navbar-fixed-top .account-name .dropdown-menu a {
  color: #666 !important;
  margin-top: 0px !important;
}
.navbar-fixed-top .account-name .dropdown-menu a:hover {
  background-color: transparent;
  color: #20cb9a !important;
  background-image: none;
}
.home-banner-search-box .container-fluid {
  margin-left: 10px;
  margin-right: 10px;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs {
  text-transform: uppercase;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs a {
  padding-left: 0;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs a .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  margin-top: -5px;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs .find-shipper .icon {
  background-image: url('../img/find-shipping-white.png');
  background-size: 30px 30px;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs .find-shipper.active .icon {
  background-image: url('../img/find-shipping-yellow.png');
  background-size: 30px 30px;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs .find-package .icon {
  background-image: url('../img/find-package-white.png');
  background-size: 30px 30px;
}
.home-banner-search-box .container-fluid .search-tabs .nav-tabs .find-package.active .icon {
  background-image: url('../img/find-package-yellow.png');
  background-size: 30px 30px;
}
.home-banner-search-box .container-fluid .search-tabs .tab-content {
  padding: 0;
}
.home-banner-search-box .container-fluid .search-tabs .tab-content .tab-pane .form-inline .form-group .location {
  position: relative;
}
.home-banner-search-box .container-fluid .search-tabs .tab-content .tab-pane .form-inline .form-group .location input {
  padding-right: 0;
  text-transform: uppercase;
}
.home-banner-search-box .container-fluid .search-tabs .tab-content .tab-pane .form-inline .form-group .location .icon {
  position: absolute;
  top: 18px;
  right: 7px;
}
.find-package-form label {
  cursor: pointer;
}
.find-package-form label img {
  padding: 5px;
}
.find-package-form input[type="radio"] {
  visibility: hidden;
}
.find-package-form input[type="radio"]:checked + img {
  background: #e6e6e6;
  padding: 5px;
}
.home select,
.home input {
  border: none;
  outline: none;
  box-shadow: none;
}
.home select:focus,
.home input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.home select.form-control,
.home input.form-control {
  border: none;
  outline: none;
  box-shadow: none;
}
.home select.form-control:focus,
.home input.form-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.find-package-form .find-package-btn {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}
.find-package-form .find-package-btn:hover,
.find-package-form .find-package-btn:active,
.find-package-form .find-package-btn:focus {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}
.list-shipping-box {
  position: relative;
}
.list-shipping-box form input[type="text"] {
  border: 1px solid #cbcbcb;
}
.list-shipping-box .paging {
  position: absolute;
  bottom: 0;
  width: 58.33333333%;
  z-index: 100;
  opacity: 0.7;
}
.list-shipping-box .paging:hover {
  opacity: 1.0;
}
.list-shipping-box .search-type-item {
  display: none;
}
.list-shipping-box .map {
  position: relative;
}
.list-shipping-box .map .search-box {
  position: absolute;
  top: 9px;
  right: 0;
  width: 70%;
}
.list-shipping-box .map .search-box input {
  width: 45%;
  float: left;
}
.list-shipping-box .map .search-box input.to {
  margin-left: 10px;
}
.list-shipping {
  background: #f5f5f5;
  padding: 10px;
}
.shipping-item {
  border: 1px solid #ececec;
  background: #FFF;
  margin-bottom: 10px;
}
.shipping-image {
  height: 240px;
  line-height: 240px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 10px;
}
.shipping-image > img {
  display: inline-block;
  vertical-align: middle;
}
.guaranteed {
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 10px;
  width: 30%;
}
.shipping-image-detail {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  color: #FFF;
  background: #969696;
  padding: 5px 20px;
  line-height: 100%;
}
.shipping-user-avatar {
  margin-top: -40px;
  width: 35%;
  float: left;
  padding: 10px;
}
.shipping-user-name {
  width: 100%;
  margin-top: -5px;
}
.shipping-user-name h4 {
  margin-left: 30px;
  padding: 0;
}
.shipping-user-rates {
  width: 70px;
  overflow: hidden;
  height: 10px;
  background: url("../img/yellow-star.png") repeat-x;
  padding-left: 0;
  margin-top: 15px;
}
.package-type {
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
  padding: 5px;
  border-radius: 3px;
  position: relative;
  min-height: 60px;
}
.package-type > input {
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
}
#map {
  width: 100%;
  height: 600px;
}
#map-content {
  border: 2px solid green;
}
.map-marker-label {
  color: white;
  background-color: #0DD2A1;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  padding: 5px 30px;
  white-space: nowrap;
}
.map-shipping-image {
  background: #fff none repeat scroll 0 0;
  height: 170px;
  line-height: 170px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.map-shipping-image > img {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
.map-guaranteed {
  position: absolute;
  right: 15px;
  top: 15px;
}
.map-shipping-image-detail {
  background: #969696 none repeat scroll 0 0;
  bottom: 10px;
  color: #fff;
  line-height: 100%;
  padding: 5px 20px;
  position: absolute;
  right: 10px;
  z-index: 99;
}
.map-shipping-info p {
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  margin: 0;
}
.map-shipping-info p strong {
  font-size: 18px;
}
#find-shipper input + span,
#find-package input + span {
  color: #646464;
  font-size: 25px;
}
#find-shipper input:hover,
#find-package input:hover,
#find-shipper input:focus,
#find-package input:focus {
  color: #20cb9a;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
.input-group-addon:last-child {
  background: #FFF;
  border-color: #b7b7b7;
  padding-left: 0;
}
.input-group .form-control.google-maps-input {
  text-align: left;
}
.input-group .form-control {
  border-right: none;
  text-align: right;
  padding-right: 2px;
}
.input-group .form-control:focus,
.input-group .form-control:focus + .input-group-addon {
  outline: none;
  box-shadow: none;
  border-color: #959595;
}
.form-control {
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  box-shadow: none;
}
.form-group .input-group.from-and-to input {
  border-right: 1px solid #b7b7b7;
}
.form-group .input-group.from-and-to input:focus {
  border-color: #959595;
}
.from-and-to .input-group-addon input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.from-and-to .input-group-addon {
  background: #FF0;
  padding: 0;
  padding-left: 2px;
  border: none;
}
.from-and-to .input-group-addon span {
  border: 1px solid #b7b7b7;
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  background: #FFF;
  cursor: pointer;
}
.from-and-to .input-group-addon input:checked + span {
  background-image: url('../img/checked.png');
  background-color: #FFF;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
}
.from-and-to .input-group-addon label:hover span {
  border-color: #959595;
}
.btn.btn-default.add-more,
.btn.btn-default.remove {
  border: 1px solid #b7b7b7;
  background: #e7e6e6;
  padding: 5px 20px;
  color: #b7b7b7;
}
.btn.btn-default.add-more span,
.btn.btn-default.remove span {
  font-family: 'Arial';
  font-size: 20px;
}
button.btn.dropdown-toggle.btn-default {
  background: #FFF;
  border: 1px solid #b7b7b7;
}
.from-and-to.input-group .form-control:first-child,
.from-and-to.input-group-addon:first-child,
.from-and-to.input-group-btn:first-child > .btn,
.from-and-to.input-group-btn:first-child > .btn-group > .btn,
.from-and-to.input-group-btn:first-child > .dropdown-toggle,
.from-and-to.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.from-and-to.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
/* GOOGLE MAPS API */
input#maps-from {
  width: 35% !important;
  top: 10px !important;
}
input#maps-to {
  width: 35% !important;
  top: 10px !important;
  right: 10px !important;
}
.input-licence .form-horizontal .pull-left {
  padding-right: 0;
  text-align: left;
}
.tab-content {
  padding: 30px 0;
}
.ways-item {
  position: relative;
}
p.from {
  position: absolute;
  top: 74px;
  text-align: center;
}
p.to {
  position: absolute;
  right: 0;
  bottom: -45px;
  text-align: center;
}
.shipper {
  padding: 0 50px;
  margin-top: -160px;
  position: relative;
  min-height: 200px;
  display: table;
}
.shipper-avatar {
  width: 200px;
  left: 40px;
  top: 0;
  display: table-cell;
}
.shipper-info {
  margin-left: 230px;
  height: 200px;
  vertical-align: bottom;
  display: table-cell;
  padding-left: 20px;
  padding-bottom: 40px;
}
.package-requirement-item {
  background: #00cc99;
  min-height: 150px;
  margin-bottom: 40px;
  font-weight: bold;
  padding: 20px 0;
}
.package-requirement-item .icon {
  font-size: 50px;
  line-height: 150px;
}
.two .package-requirement-item .icon {
  font-size: 50px;
  line-height: 100%;
  text-align: center;
}
/**
 * Footer of website
 */
footer {
  background: url(../img/footer-bg.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 120px;
  position: relative;
  color: #FFF;
}
footer .social {
  margin-top: 20px;
}
footer .social a {
  display: inline-block;
  border: 2px solid #FFF;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 26px;
}
footer .social a:hover {
  color: #20cb9a;
  border-color: #20cb9a;
}
footer .footer-select li a {
  background-color: transparent !important;
  text-shadow: none;
  padding-bottom: 0;
}
footer .footer-select li a .caret {
  margin-top: 0 !important;
}
footer .footer-select li a:hover {
  color: #20cb9a;
}
footer .footer-select li a:focus {
  color: #20cb9a;
}
footer.auth {
  background-image: none;
  color: #949494;
}
footer.auth a {
  color: #949494;
}
footer.auth a:hover {
  color: #20cb9a;
  border-color: #20cb9a;
  background-color: transparent;
}
footer.auth .social {
  margin-top: 20px;
}
footer.auth .social a {
  display: inline-block;
  border: 2px solid #949494;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 26px;
  color: #949494;
}
footer.auth .social a:hover {
  color: #20cb9a;
  border-color: #20cb9a;
}
footer.auth .footer-select li a {
  background-color: transparent !important;
  text-shadow: none;
  padding-bottom: 0;
  color: #949494;
}
footer.auth .footer-select li a .caret {
  margin-top: 0 !important;
}
footer.auth .footer-select li a:hover {
  color: #20cb9a;
}
footer.auth .footer-select li a:focus {
  color: #20cb9a;
}
footer a {
  color: #FFF;
}
footer .container-fluid {
  padding-top: 30px;
}
footer .container-fluid select.form-control {
  background: transparent;
  border: none;
  color: #FFF;
}
footer .container-fluid select:focus {
  outline: none !important;
  box-shadow: none;
}
footer .container-fluid select option {
  background: none;
  color: #FFF;
}
.list-group-item > .right-input {
  float: right;
}
.right-input {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}
body {
  background-color: #FFF;
}
.container-create {
  padding: 0 30px 30px 30px;
  margin: 0 30px;
  background-color: #FF0;
}
.container-create h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
}
.container-create h2 {
  font-size: 20px;
  font-weight: bold;
}
.container-create .btn-groups .btn {
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 18px;
  padding: 10px 50px;
  margin: 0 5px;
}
.container-create .btn-groups .btn.btn-cancel {
  background-color: #a6a6a6;
}
.container-create .btn-groups .btn.btn-preview {
  background-color: #cc9900;
}
.container-create .btn-groups .btn.btn-upload {
  background-color: #00cc99;
}
.container-create table.col-4 td {
  width: 25%;
}
.container-create .form-group {
  margin-bottom: 0px;
}
.container-create label.error {
  display: inline;
}
.container-create .shipping-guidance h3 {
  margin-top: 0px;
}
.red-color {
  color: #F00;
}
.shipping-rate-box .table {
  margin-left: -8px;
}
.shipping-rate-box .table th,
.shipping-rate-box .table td {
  border: none;
}
.shipping-rate-box .table tr.focus .form-group input,
.shipping-rate-box .table tr.focus .form-group div,
.shipping-rate-box .table tr.focus .form-group select {
  background-color: #D1D1A3;
}
.shipping-rate-box .table tr select.form-control {
  background-color: yellow;
  border: 1px solid #b7b7b7 !important;
}
.surcharge .table {
  margin-left: -8px;
}
.surcharge .table th,
.surcharge .table td {
  border: none;
}
.surcharge .package-type {
  min-height: 34px;
  margin-top: 24px;
}
.surcharge .package-type img {
  width: 30px;
  margin-top: -3px;
}
.surcharge .package-type label {
  margin-top: 1px;
}
.surcharge .package-type p {
  width: 62%;
  font-size: 12px;
  padding-right: 0;
}
.shipping-delivery-box .form-group {
  margin-bottom: 15px;
}
.btn.btn-default.remove {
  background-color: yellow;
  border: 1px solid #b7b7b7 !important;
}
.bg-yellow {
  background-color: yellow;
}
.shippingWeight {
  display: none;
}
.checkbox-box {
  background-color: #ccc;
  float: left;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #DDD;
}
.checkbox-box .checkbox-input input {
  visibility: hidden;
}
.checkbox-box .checkbox-input input + span {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  display: inline-block;
}
.checkbox-box .checkbox-input input:checked + span {
  background-image: url('../img/checked.png');
  background-color: #FFF;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
}
.checkbox-box .checkbox-img {
  float: left;
}
.checkbox-box .checkbox-label {
  float: left;
}
#package-search {
  margin-top: 9px;
}
button {
  background-color: #20cb9a;
  background-image: none;
  color: #FFF;
}
.login .panel .panel-heading {
  background-color: #CCC;
  background-image: none;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}
.login .panel .panel-body {
  height: 250px;
}
.register .panel .panel-heading {
  background-color: #CCC;
  background-image: none;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}
.register .panel .panel-body {
  height: 325px;
}
.find-form .container-fluid .find-package-form label {
  width: 65px;
}
.find-form .container-fluid .find-package-form .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  text-align: center;
}
.find-form .container-fluid .find-package-form .icon img {
  padding: 0;
  margin-top: 18px;
}
.find-form .container-fluid .find-package-form input[type="radio"] {
  position: absolute;
}
.find-form .container-fluid .find-package-form input[type="radio"]:checked + .icon {
  background-color: #CCC;
}
.find-form .container-fluid .find-package-form .btn-transfer {
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.list-shipping-box .container-fluid .left {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.list-shipping-box .container-fluid .left .form-horizontal .tab-content {
  padding: 30px 0 0 0;
}
.list-shipping-box .container-fluid .left .form-horizontal .tab-content .tab-pane .package-size-per-weight .top-title {
  text-align: center;
}
.list-shipping-box .container-fluid .left .form-horizontal .tab-content .tab-pane .package-size-per-weight input {
  text-align: center;
}
.list-shipping-box .container-fluid .left .form-horizontal .tab-content .tab-pane .form-group input {
  text-align: center;
}
.list-shipping-box .container-fluid .left .form-horizontal .tab-content .tab-pane.per-trip label {
  margin-top: 7px;
}
.list-shipping-box .container-fluid .left .form-horizontal .package-type {
  min-height: 40px;
}
@media (min-width: 768px) {
  .list-shipping-box .col-sm-8,
  .list-shipping-box .col-sm-4 {
    padding-right: 0px;
  }
}
.caret {
  background-image: url(../img/arrow-down-new.png);
  height: 16px;
  color: #FFF;
  width: 16px;
  background-repeat: no-repeat;
  padding: 0;
  background-position: center center;
  margin-top: -10px !important;
  border: none !important;
}
.bootstrap-select > .dropdown-toggle {
  padding-right: 35px;
}
.select-arrow {
  display: block;
  background-image: url(../img/arrow-down-new.png);
  background-repeat: no-repeat;
  background-position: right 4px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.select-arrow::-ms-expand {
  display: none;
}
.require {
  color: #F00;
}
.shipping-rate-box select.last-unit{
  color: red;
}
body.auth {
  background-color: #f8f8f8;
}
body.auth .navbar {
  margin-top: 15px;
}
.container.auth .box {
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  padding: 15px;
  overflow: hidden;
}
.container.auth .box .social {
  margin-bottom: 20px;
}
.container.auth .box .social img {
  border-radius: 5px;
}
.container.auth .box .social > .row {
  margin-right: -30px;
}
.container.auth .box .social .item {
  margin-right: 0px;
}
.container.auth .box .title {
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.container.auth .box .title .text {
  padding: 0 15px;
  background-color: #FFF;
  display: inline-block;
  z-index: 2;
  position: relative;
  color: #949494;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.container.auth .box .title:after {
  position: absolute;
  left: -10%;
  top: 50%;
  height: 1px;
  background: #dbdbdb;
  content: "";
  width: 120%;
  display: block;
  z-index: 1;
}
.container.auth .box input[type="text"],
.container.auth .box input[type="email"],
.container.auth .box input[type="password"] {
  border: 1px solid #dbdbdb;
  padding: 10px;
  height: 50px;
  text-transform: uppercase;
  color: #dbdbdb;
}
.container.auth .box a.btn-link {
  color: #949494;
  text-decoration: none;
  padding: 0;
}
.container.auth .box a:hover {
  color: #20cb9a;
}
.container.auth .box button {
  text-transform: uppercase;
  color: #FFF;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.container.auth .box .tab {
  margin-top: -15px;
  margin-bottom: 20px;
  background-color: #dbdbdb;
}
.container.auth .box .tab .active {
  background-color: #FFF;
}
.container.auth .box .tab a {
  padding: 15px 0;
  display: block;
  text-decoration: none;
}
.container.auth .box .tab a span {
  display: block;
  text-align: center;
  color: #949494;
}
.container.auth .box .tab a span:first-child {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
