.border-none {
    border: none !important;
}

#top-menu {
    min-height: 45px;
    padding-top: 18px;
    line-height: 45px;
    margin: 0;
    background-color: #FFF;
    .search-text-box {
        border: 1px solid #dddddd;
        border-radius: 30px;
        box-shadow: none;
        outline: none;
        height: 45px;
        line-height: 45px;
        background: url("../img/header-search-icon.png") no-repeat 96% 50%;
        &:focus {
            border: 1px solid #9e9e9e;
            box-shadow: none;
            outline: none;
        }
    }
    .navbar-btn {
        border: 1px solid #000;
        border-radius: 3px;
        background: #FFF;
        color: #000;
        box-shadow: none;
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
        margin-right: 5px;
    }
    form {
        &#header-search {
            margin-top: 10px;
        }
    }
    a {
        color: #646464;
        &:hover {
            background: none;
            color: #000;
        }
        &#logo {
            margin-top: 10px;
            display: block;
        }
    }
    li {
        &.no-padding {
            a,span {
                padding-top: 6px;
                padding-bottom: 0;
            }
        }
    }
}

.full-container {
    background-color: #CCC;
}

.header-message {
    background: url("../img/message-count.png");
    display: inline-block;
    width: 32px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    color: #ff0000;
    font-weight: bold;
}

.navbar-fixed-top {
    padding-top: 20px;
    .container {
        .navbar-header {
            margin-top: -5px;
        }
        .btn {
            color: #FFF;
            border-color: #FFF;
            box-shadow: none;
            text-transform: uppercase;
            &:hover {
                color: #20cb9a;
                border-color: #20cb9a;
            }
        }
    }
    &.top-menu {
        position: relative;
        margin-bottom: 0;
        background-color: #FFF;
        .top-header-search-box {
            border-radius: 30px;
            background: transparent url("../img/search-icon-gray.png") 98% 50% no-repeat;
            border: 1px solid #666;
            line-height: 30px;
            color: #666;
            outline: none;
            padding: 5px 15px;
            text-transform: uppercase;
        }
        a,.btn,input {
            color: #666;
            border-color: #666;
        }
    }
    .account-message {
        text-align: center;
    }
    .account-name {
        a {
            color: #FFF;
            text-decoration: none;
            &:hover {

            }
            &.dropdown-toggle {
                padding: 0;
                text-align: center;
                color: #666;
                background-color: transparent;
                margin-top: 0 !important;
            }
        }
        .dropdown-menu {
            left: initial;
            right: 0;
            a {
                color: #666 !important;
                margin-top: 0px !important;
                &:hover {
                    background-color: transparent;
                    color: #20cb9a !important;
                    background-image: none;
                }
            }
        }
    }
}



.home-banner-search-box {
    .container-fluid {
        margin-left: 10px;
        margin-right: 10px;
        .search-tabs {
            .nav-tabs {
                text-transform: uppercase;
                a {
                    padding-left: 0;
                    .icon {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        float: left;
                        margin-right: 5px;
                        margin-top: -5px;
                    }
                }
                .find-shipper {
                    .icon {
                        background-image: url('../img/find-shipping-white.png');
                        background-size: 30px 30px;
                    }
                    &.active {
                        .icon {
                            background-image: url('../img/find-shipping-yellow.png');
                            background-size: 30px 30px;
                        }
                    }
                }
                .find-package {
                    .icon {
                        background-image: url('../img/find-package-white.png');
                        background-size: 30px 30px;
                    }
                    &.active {
                        .icon {
                            background-image: url('../img/find-package-yellow.png');
                            background-size: 30px 30px;
                        }
                    }
                }
            }
            .tab-content {
                padding: 0;
                .tab-pane {
                    .form-inline {
                        .form-group {
                            .location {
                                position: relative;
                                input {
                                    padding-right: 0;
                                    text-transform: uppercase;
                                }
                                .icon {
                                    position: absolute;
                                    top: 18px;
                                    right: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.find-package-form {
    label {
        cursor: pointer;
        img {
            padding: 5px;
        }
    }
    input[type="radio"] {
        visibility: hidden;
        &:checked {
            + img {
                background: #e6e6e6;
                padding: 5px;
            }
        }
    }
}

.home {
    select,input {
        border: none;
        outline: none;
        box-shadow: none;
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
        &.form-control {
            border: none;
            outline: none;
            box-shadow: none;
            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
    }
}

.find-package-form  {
    .find-package-btn
    {
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        &:hover,&:active,&:focus {
            background: none;
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
}

.list-shipping-box {
    position: relative;
    form {
        input[type="text"] {
            border: 1px solid #cbcbcb;
        }
    }
    .paging {
        position: absolute;
        bottom: 0;
        width: 58.33333333%;
        z-index: 100;
        opacity: 0.7;
        &:hover {
            opacity: 1.0;
        }
    }
    .search-type-item {
        display: none;
    }
    .map {
        position: relative;
        .search-box {
            position: absolute;
            top: 9px;
            right: 0;
            width: 70%;
            input {
                width: 45%;
                float: left;
                &.to {
                    margin-left: 10px;
                }
            }
        }
    }
}

.list-shipping {
    background: #f5f5f5;
    padding: 10px;
}

.shipping-item {
    border: 1px solid #ececec;
    background: #FFF;
    margin-bottom: 10px;
}

.shipping-image {
    height: 240px;
    line-height: 240px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
    > img {
        display: inline-block;
        vertical-align: middle;
    }
}

.guaranteed {
    position: absolute;
    z-index: 99;
    top: 10px;
    right: 10px;
    width: 30%;
}

.shipping-image-detail {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 99;
    color: #FFF;
    background: #969696;
    padding: 5px 20px;
    line-height: 100%;
}

.shipping-user-avatar {
    margin-top: -40px;
    width: 35%;
    float: left;
    padding: 10px;
}

.shipping-user-name {
    width: 65%;
    float: right;
    margin-top: -5px;
    h4 {
        margin: 0;
        padding: 0;
    }
}

.shipping-user-rates {
    width: 70px;
    overflow: hidden;
    height: 10px;
    background: url("../img/yellow-star.png") repeat-x;
}

.package-type {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    min-height: 60px;
    > img {
        
    }
    > input {
        float: right;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

#map {
    width: 100%;
    height:  600px;
}

#map-content {
    border: 2px solid green;
}

.map-marker-label {
    color: white;
    background-color: #0DD2A1;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 30px;
    white-space: nowrap;
}

.map-shipping-image {
    background: #fff none repeat scroll 0 0;
    height: 170px;
    line-height: 170px;
    overflow: hidden;
    text-align: center;
    position: relative;
    > img {
        display: inline-block;
        margin: auto;
        vertical-align: middle;
    }
}

.map-guaranteed {
    position: absolute;
    right: 15px;
    top: 15px;
}

.map-shipping-image-detail {
    background: #969696 none repeat scroll 0 0;
    bottom: 10px;
    color: #fff;
    line-height: 100%;
    padding: 5px 20px;
    position: absolute;
    right: 10px;
    z-index: 99;
}

.map-shipping-info p {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    margin: 0;
    strong {
       font-size: 18px; 
    }
}

#find-shipper,#find-package {
    input {
        + span {
            color: #646464;
            font-size: 25px;
        }
        &:hover,&:focus {
            color: #20cb9a;
        }
    }
    
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}

.input-group-addon:last-child{
    background: #FFF;
    border-color: #b7b7b7;
    padding-left: 0;
}
.input-group .form-control.google-maps-input{
    text-align: left;
}
.input-group .form-control{
    border-right: none;
    text-align: right;
    padding-right: 2px;
}
.input-group .form-control:focus, .input-group .form-control:focus + .input-group-addon{
    outline: none;
    box-shadow: none;
    border-color: #959595;
}
.form-control {
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    box-shadow: none;
}
.form-group .input-group.from-and-to input{
    border-right: 1px solid #b7b7b7;
}
.form-group .input-group.from-and-to input:focus{
    border-color: #959595;
}
.from-and-to .input-group-addon input {
    visibility: hidden;
    width: 0;
    height: 0;
}
.from-and-to .input-group-addon{
    background: #FF0;
    padding: 0;
    padding-left: 2px;
    border: none;
}
.from-and-to .input-group-addon span {
    border: 1px solid #b7b7b7;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    background: #FFF;
    cursor: pointer;
}
.from-and-to .input-group-addon input:checked + span {
    background-image: url('../img/checked.png');
    background-color: #FFF;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.from-and-to .input-group-addon label:hover span{
    border-color: #959595;
}
.btn.btn-default.add-more, .btn.btn-default.remove {
    border: 1px solid #b7b7b7;
    background: #e7e6e6;
    padding: 5px 20px;
    color: #b7b7b7;
    span {
        font-family: 'Arial';
        font-size: 20px;
    }
}
button.btn.dropdown-toggle.btn-default {
    background: #FFF;
    border: 1px solid #b7b7b7;
}
.from-and-to.input-group .form-control:first-child, .from-and-to.input-group-addon:first-child, .from-and-to.input-group-btn:first-child>.btn, .from-and-to.input-group-btn:first-child>.btn-group>.btn, .from-and-to.input-group-btn:first-child>.dropdown-toggle, .from-and-to.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .from-and-to.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
/* GOOGLE MAPS API */
input#maps-from {
    width: 35% !important;
    top: 10px !important;
}
input#maps-to {
    width: 35% !important;
    top: 10px !important;
    right: 10px !important;
}
.input-licence .form-horizontal .pull-left{
    padding-right: 0;
    text-align: left;
}
.tab-content {
    padding: 30px 0;
}
.ways-item {
    position: relative;
}
p.from {
    position: absolute;
    top: 74px;
    text-align: center;
}
p.to {
    position: absolute;
    right: 0;
    bottom: -45px;
    text-align: center;
}
.shipper {
    padding: 0 50px;
    margin-top: -160px;
    position: relative;
    min-height: 200px;
    display: table;
}
.shipper-avatar {
    width: 200px;
    left: 40px;
    top: 0;
    display: table-cell;
}
.shipper-info {
    margin-left: 230px;
    height: 200px;
    vertical-align: bottom;
    display: table-cell;
    padding-left: 20px;
    padding-bottom: 40px;
}
.package-requirement-item {
    background: #00cc99;
    min-height: 150px;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 20px 0;
}
.package-requirement-item .icon {
    font-size: 50px;
    line-height: 150px;
}
.two .package-requirement-item .icon {
    font-size: 50px;
    line-height: 100%;
    text-align: center;
}

/**
 * Footer of website
 */
footer{
    background: url(../img/footer-bg.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 120px;
    position: relative;
    color: #FFF;
    .social {
        margin-top: 20px;
        a {
            display: inline-block;
            border: 2px solid #FFF;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 50%;
            line-height: 26px;
            &:hover {
                color: #20cb9a;
                border-color: #20cb9a;
            }
        }
    }
    .footer-select {
        li {
            a {
                background-color: transparent !important;
                text-shadow: none;
                padding-bottom: 0;
                .caret {
                    margin-top: 0 !important;
                }
                &:hover {
                    color: #20cb9a;
                }
                &:focus {
                    color: #20cb9a;
                }
            }    
        }
    }
    &.auth {
        background-image: none;
        color: #949494;        
        a {
            color: #949494;
            &:hover {
                color: #20cb9a;
                border-color: #20cb9a;
                background-color: transparent;
            }
        }
        .social {
            margin-top: 20px;
            a {
                display: inline-block;
                border: 2px solid #949494;
                width: 30px;
                height: 30px;
                text-align: center;
                border-radius: 50%;
                line-height: 26px;
                color: #949494;
                &:hover {
                    color: #20cb9a;
                    border-color: #20cb9a;
                }
            }
        }
        .footer-select {
            li {
                a {
                    background-color: transparent !important;
                    text-shadow: none;
                    padding-bottom: 0;
                    color: #949494;
                    .caret {
                        margin-top: 0 !important;
                    }
                    &:hover {
                        color: #20cb9a;
                    }
                    &:focus {
                        color: #20cb9a;
                    }
                }    
            }
        }
    }
}
footer a{
    color: #FFF;
}
footer .container-fluid{
    padding-top: 30px;
}
footer .container-fluid select.form-control{
    background: transparent;
    border: none;
    color: #FFF;
}
footer .container-fluid select:focus{
    outline: none !important;
    box-shadow: none;
}
footer .container-fluid select option{
    background: none;
    color: #FFF;
}

.list-group-item>.right-input {
    float: right;
}
.right-input {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}

body {
    background-color: #FFF;
}

.container-create {
    padding: 0 30px 30px 30px;
    margin: 0 30px;
    background-color: #FF0;
    h1 {
        font-size: 40px;
        font-weight: bold;
        color: #000;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
    .btn-groups {
        .btn {
            border: none;
            border-radius: 0;
            color: #FFF;
            font-size: 18px;
            padding: 10px 50px;
            margin: 0 5px;
            &.btn-cancel {
                background-color: #a6a6a6;
            }
            &.btn-preview {
                background-color: #cc9900;
            }
            &.btn-upload {
                background-color: #00cc99;
            }
        }
    }
    table {
        &.col-4 {
            td {
                width: 25%;
            }
        }
    }
    .form-group {
        margin-bottom: 0px;
    }
    label {
        &.error {
            display: inline;
        }
    }
    .shipping-guidance {
        h3 {
            margin-top: 0px;
        }
    }
}

.red-color {
    color: #F00;
}

.shipping-rate-box {
    .table {
        margin-left: -8px;
        th,td {
            border: none;
        }
        tr {
            &.focus {
                .form-group {
                    input,div,select {
                        background-color: #00cc99;
                    }
                }
            }
            select {
                &.form-control {
                    background-color: yellow;
                    border: 1px solid #b7b7b7 !important;
                }
            }
        }
    }
}
.surcharge {
    .table {
        margin-left: -8px;
        th,td {
            border: none;
        }
    }
    .package-type {
        min-height: 34px;
        margin-top: 24px;
        img {
            width: 30px;
            margin-top: -3px;
        }
        label {
            margin-top: 1px;
        }
        p {
            width: 62%;
            font-size: 12px;
            padding-right: 0;
        }
    }
}

.shipping-delivery-box  {
    .form-group {
        margin-bottom: 15px;
    }
}

.btn {
    &.btn-default {
        &.remove {
            background-color: yellow;
            border: 1px solid #b7b7b7 !important; 
        }
    }
}
.bg-yellow {
    background-color: yellow;
}
.shippingWeight {
    display: none;
}

.checkbox-box {
    background-color: #ccc;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #DDD;
    .checkbox-input {
        input {
            visibility: hidden;
            + span {
                width: 30px;
                height: 30px;
                background-color: #FFF;
                display: inline-block;
            }
        }
        input:checked {
            + span {
                background-image: url('../img/checked.png');
                background-color: #FFF;
                background-size: 60%;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }
    }
    .checkbox-img {
        float: left;
    }
    .checkbox-label {
        float: left;
    }
}
#package-search {
    margin-top: 9px;
}

button {
    background-color: #20cb9a;
    background-image: none;
    color: #FFF;
}

.login {
    .panel {
        .panel-heading {
            background-color: #CCC;
            background-image: none;
            color: #FFF;
            font-weight: bold;
            text-align: center;
        }
        .panel-body {
            height: 250px;
        }
    }
}

.register {
    .panel {
        .panel-heading {
            background-color: #CCC;
            background-image: none;
            color: #FFF;
            font-weight: bold;
            text-align: center;
        }
        .panel-body {
            height: 325px;
        }
    }
}

.find-form {
    .container-fluid {
        .find-package-form {
            label {
                width: 65px;
            }
            .icon {
                display: inline-block;
                height: 60px;
                width: 60px;
                border-radius: 30px;
                text-align: center;
                img {
                    padding: 0;
                    margin-top: 18px;
                }
            }
            input[type="radio"] {
                position: absolute;
            }
            input[type="radio"]:checked + .icon {
                background-color: #CCC;
            }
            .btn-transfer {
                border: 1px solid #b7b7b7;
                border-radius: 3px;
                box-shadow: none;
                margin-top: 15px;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}

.list-shipping-box {
    .container-fluid {
        .left {
            height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            .form-horizontal {
                .tab-content {
                    padding: 30px 0 0 0;
                    .tab-pane {
                        .package-size-per-weight {
                            .top-title {
                                text-align: center;
                            }
                            input {
                                text-align: center;
                            }
                        }
                        .form-group {
                            input {
                                text-align: center;
                            }
                        }
                        &.per-trip {
                            label {
                                margin-top: 7px;
                            }
                        }
                    }                    
                }
                .package-type {
                    min-height: 40px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        .col-sm-8,.col-sm-4 {
            padding-right: 0px;
        }
    }
}

.infoBox {
    .box_title {
        
    }
}

.caret {
    background-image: url('../img/icon-dropdown-gray.png');
    height: 16px;
    color: #FFF;
    width: 16px;
    background-repeat: no-repeat;
    padding: 0;
    background-position: center center;
    margin-top: -10px !important;
    border: none !important;
}

.bootstrap-select {
    >.dropdown-toggle {
        padding-right: 35px;
    }
}

.select-arrow {
    display: block;
    background-image: url(http://fastast.dev/themes/front/assets/img/icon-dropdown-gray.png);
    background-repeat: no-repeat;
    background-position: right 13px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.select-arrow::-ms-expand {
    display: none;
}

.require {
    color: #F00;
}

body {
    &.auth {
        background-color: #f8f8f8;
        .navbar {
            margin-top: 15px;
        }
    }
}

.container {
    &.auth {
        .box {
            margin-bottom: 20px;
            background-color: #FFF;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            padding: 15px;
            overflow: hidden;
            .social {
                margin-bottom: 20px;
                img {
                    border-radius: 5px;
                }
                > .row {
                    margin-right: -30px;
                }
                .item {
                    margin-right: 0px;
                }
            }

            .title {
                position: relative;
                height: 30px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 20px;
                .text {
                    padding: 0 15px;
                    background-color: #FFF;
                    display: inline-block;
                    z-index: 2;
                    position: relative;
                    color: #949494;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                }
                &:after {
                    position: absolute;
                    left: -10%;
                    top: 50%;
                    height: 1px;
                    background: #dbdbdb;
                    content: "";
                    width: 120%;
                    display: block;
                    z-index: 1;
                }
            }
            input[type="text"],input[type="email"],input[type="password"] {
                border: 1px solid #dbdbdb;
                padding: 10px;
                height: 50px;
                text-transform: uppercase;
                color: #dbdbdb;
            }
            a {
                &.btn-link {
                    color: #949494;
                    text-decoration: none;
                    padding: 0;
                }
                &:hover {
                    color: #20cb9a;
                }
            }
            button {
                text-transform: uppercase;
                color: #FFF;
                width: 100%;
                height: 50px;
                font-size: 20px;                
            }
            .tab {
                margin-top: -15px;
                margin-bottom: 20px;
                background-color: #dbdbdb;
                .active {
                    background-color: #FFF;
                }
                a {
                    padding: 15px 0;
                    display: block;
                    text-decoration: none;
                    span {
                        display: block;
                        text-align: center;
                        color: #949494;
                        &:first-child {
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}