.user .container-fluid.no-padding{
    background-color: #F1F1F1;
    padding: 0;
    overflow: hidden;
}
.user .btn-group-justified{
    background-color: #F1F1F1;

}
.user .btn-group-justified a{
    padding: 20px 20px;
    background-color: #F1F1F1;
    border: none;
    box-shadow: none;
    color: #000;
    background-image: none;
}
.user .btn-group-justified a:hover,
.user .btn-group-justified a.active,
.user .btn-group-justified a:focus{
    background-color:#F8F8F8 ;
    color: #00CC99;
    outline: none!important;
}
.user .search-wrap input{
    width: 75%!important;
}
.user .search input{
    width: 100%!important;
}
.user .search-wrap{
    margin-top: 20px;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.user thead th{
    background-color: #00CC99;
    color: #fff;
    text-align: center;
    vertical-align: middle!important;
    line-height: normal;
}
.user tbody td:nth-child(1),
.user tbody td:nth-child(2),
.user tbody td:nth-child(3){
    font-weight: bold!important;
}
/*.user tbody td:nth-child(9){
   text-align: right!important;
}*/
.user tfoot th{
    text-align: center;
}
.user .dropdown-menu {
    padding: 0;
}
.user tfoot th:last-child{
    text-align: right!important;;
}
.user .dropdown-menu a{
    display: block;
    text-align: center;
    margin-bottom: 1px;
    background-color: #c3c3c3;
}
.user .dropdown-menu{
    right: 0;
    left: inherit;
}
.user .dropdown-menu a:hover,
.user .dropdown-menu a:focus{
    background-color: #fff;
    color: #00CC99;
}
.user .pagination li a{
    color: #3c3c3c;
}
.user .pagination li.active a:hover,
.user .pagination li.active a:focus,
.user .pagination li.active a{
    color: #fff;
    border-color: #337ab7;

}
.user .pagination li a:hover,
.user .pagination li a:focus{
    background-color: #337ab7;
}
.user .pagination li.active{
    outline: none!important;
    background-color: #00CC99;
}
select{
    border: none;
    background-color: transparent;
}

table select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
     background: transparent url(../img/arrow-dow1.png) no-repeat right;
     padding-right: 25px;
}
/*menu*/
.btn-group-justified .dropdown-menu{
    width: 100%;
}
.dropdown.open a{
    background-color: #fff!important;
    color: #00cc99!important;
}
.dropdown.open ul li a:hover,
.dropdown.open ul li a:focus{
    color: #ED7D36!important;
}
.open .dropdown-menu,
.open .dropdown-menu a{
    background-color: #F1F1F1!important;
    color: #000!important;
}
.open .dropdown-menu a.sub-active{
    background-color: #fff!important;
    color: #00cc99!important;
}
.title{
    color: #ED7D36;
    padding: 5px 20px;
    margin-top: 10px;
}
.required{
    color: red;
}
div#user-info-box {
    bottom: 2em;
    left: 2em;
    margin-top: 0;
    position: absolute;
}
.user-info {
    margin-top: 75px;
}
a.btn-add-guarantee-img {
    width: 80px;
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
}
#update-profile > .container.license .row .col-md-8{
    margin-top: 3em;
}
#update-profile > .container .col-md-8{
    /*overflow: hidden;*/
}
#update-profile > .container label{
    text-align: left;
}
#update-profile > .container select{
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background: transparent url(../img/profile-arrow-down.png) no-repeat right;
    background-size: 15px 10px;
    padding-right: 25px;
    background-position: 98% center;
}
#update-profile > .container{
    margin-top: 1em;
}
#update-profile .btn.btn-default.add-more, #update-profile .btn.btn-default.remove {
    background: #FFF;
    box-shadow: none;
    padding: 5px 10px;
    color: #555555;
}
.wrap-textarea textarea{
    margin-bottom: 20px;
}
.shipping.status{
    color: green;
}
.cancel.status{
    color: red;
}
.user .dropdown-toggle .caret {
    margin-left: 5px;
}
img.img-responsive.social-icon {
    width: 30px;
}
@media print {
    .navbar, .row.user-tab-menu, .pagination, footer, .table.table-bordered.table-striped th:last-child, .table.table-bordered.table-striped td:last-child{
        display: none !important;
    }
    a[href]:after {
        content: none !important;
    }
}
.banner-upload-btn {
    position: absolute;
    z-index: 99;
    left: 15px;
    top: 15px;
}
.avatar-upload-btn {
    position: absolute;
    z-index: 99;
    left: 25px;
    bottom: 10px;
}
.banner-user {
    overflow: hidden;
    height: 386px;
}
.user-avatar{
    width: 166px;
    height: 166px;
    overflow: hidden;
}
.banner-user img, .user-avatar img{
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: 100%;
}
#update-profile{
    background: #FFF;
}
.btns{
    margin: 40px 0;
}
.btns .btn.btn-cancel{
    border-radius: 0;
    box-shadow: none;
    background: #a6a6a6;
    color: #FFF;
    padding: 10px 40px;
}
.btns .btn.btn-save{
    border-radius: 0;
    box-shadow: none;
    background: #00cc99;
    color: #FFF;
    padding: 10px 40px;
}
.wrap-textarea{
    padding-top: 10px;
}
.wrap-textarea .row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrap-textarea textarea, .wrap-textarea textarea:focus {
    border-radius: 0;
    outline: none;
    border: none;
    max-width: 100%;
    box-shadow: none;
    padding-left: 0;
    appearance: none;
}
.wrap-textarea .textarea-box{
    border: 1px solid #cdcdcd;
    border-radius: 0;
    padding-top: 10px;padding-left: 10px;padding-right: 10px;
}
.main-mail li.media {
    background: #e1e1e1;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.main-mail li.media.no-read {
    background: #b0b0b0;
}
.main-mail li.media.me{
    background: #4080ff;
}
.main-mail li.media.me{
    color: #FFF;
}
.main-mail li.media a{
    color: #3b3b3b;
}
.main-mail li.media a:hover, .main-mail li.media a:visited, .main-mail li.media a:focus, .main-mail li.media a:active{
    color: #3b3b3b;
    text-decoration: none;
}
.main-mail li.media .media-left{
    box-sizing: border-box;
    height: 100px;
}
img.img-circle.img-responsive {
    height: 100px;
    width: 100px;
    max-width: none;
    max-height: 100px;
}
.container.payment-wrap {
    background: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.container.payment-wrap .row .row {
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.container.payment-wrap .row .row.border-bottom {
    border-bottom: 1px solid #000;
}